/*   CSS GENERAL */
:root{
    --bleupale: #00A1FF;
    --bleumarin: #010925;
    --grisfonce: #1b1b1b;
    --bleutrespale: #9de0ff;
}

body{
    background-image:linear-gradient(#00A1F1, #001133);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Roboto', sans-serif;
    padding:0;
    margin:0;
}
.light-gradient
{
    background-image:linear-gradient(#00B3FA, #CCFAFF)
}


/*   CSS HEADER   */


header
{
    background-color:var(--bleupale);
    height:150px;
}

.upper-nav
{
    display:flex;
    height:20%;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
    justify-content: end;
}
.upper-nav .textcontain
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:100%;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--grisfonce);
}
.textcontain p
{
    margin:auto;
}
.textcontain a
{
    text-decoration:none;
    color:white;
}


.nav-menu{
    display:grid;
    grid-template-columns:repeat(10, 10%) ;
    grid-template-areas: "logo logo logo logo logo menu menu menu menu menu";
    width:100%;
    height:70%;
}
.nav-menu a{
    color:#000000;
    text-decoration:none;
}

.logo-titre{
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
    gap:20px;
    grid-area:logo;
    font-family:'Coiny', sans-serif;
    font-size: 29px;
}
.logo{
    width:120px;
    height:100px;
    margin-left:30px;
    margin-right:30px;
}

.page-menu{
    display:flex;
    flex-direction:row;
    justify-content: end;
    align-items:center;
    gap:5%;
    padding-right:2%;
    grid-area:menu;
}
img.panier{
    width:50px;
    height:50px;
}

#menubutton
{
    display:none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--bleumarin);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }


/*   CSS FOOTER   */


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height:5%;
    color:white;
    background-color:var(--bleumarin);
    text-align:center;
    z-index: 99;
}


/*   CSS INDEX    */


.index h1{
    margin-top: 5%;
}
.index h1, .index h2{
    width: 100%;
    text-align: center;
}

.carousel{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.bouton_carousel{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    width: 70px;
    height: 70px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
}

.bouton_carousel:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.index h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.index .slideI{
    text-decoration: none;
    background-color: rgba(173, 216, 230, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    text-decoration: none;
    background-color: rgba(173, 216, 230, 0.5);
    border-radius: 10px;
    font-weight: bold;
    color: black;
    inset:0;
    max-height: 70%;
    margin: 20px;
}
.index img{
    width: 80%;
    margin-bottom: 10%;
}

.paymessage
{
    margin:auto;
}


/*   CSS INSCRIPTIONS  &&  CSS CONNEXION   */


.inscription{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.inscription h1{
    width: 100%;
    text-align: center;
}

.inscription form{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content:center;
    text-decoration: none;
    background-color: rgba(173, 216, 230, 0.5);
    border-radius: 10px;
    font-weight: bold;
}
.inscription input, .inscription select{
    border-width: 0%;
    margin-top: 10px;
    font-weight: bold;
}

.inscription label{
    display: block;
    margin-top: 10px;
    padding: 10px;
}
.inscription button{
    margin: 20px;
    padding: 10px;
    font-weight: bold;
}


/* CSS TRAITEEMT */


.pageTraitement h1{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}


/*   CSS INVENTAIRE   */


.inventaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inventaire h1{
    width: 100%;
    margin: 100px 0px 50px;
    text-align: center;
}
.inventaire > a, .inventaire > div{
    width: 25%;
    margin: 2%;
    background-color: rgba(173, 216, 230, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius:5%;
    color: #001133;
}
.inventaire > a > img, .inventaire > div > img {
    padding-top: 45px;
    width: 80%;
}

.inventaire > a > p{
    width: 100%;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.inventaire > div > p{
    width: 100%;
    text-align: center;
    margin: 2px;
    font-weight: bold;
}

.inventaire > div > p:nth-child(2){
    margin-top: 20px;
}

.inventaire button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px 0px;
    width: 90%;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}


/*   CSS POISSONPARTPICKER   */


.section-principale
{
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: 2% auto auto auto;
}

.boutons-fonctions
{
    display: flex;
    flex-direction: row;
    gap: 2%;
    float:left;
}
.boutons-fonctions button
{
    height: 45px;
    width: 150px;
    border-radius: 3px;
}
.boutons-fonctions #bouton-inventaire
{
    background-color: var(--bleumarin);
    color:white;
    border-color: white;
}
.boutons-fonctions #bouton-panier
{
    background-color: green;
}

.part-picker
{
    margin-top:2%;
    margin-bottom:10%;
    background-color: var(--bleupale);

}

.part
{
    background-color: var(--bleutrespale);
    height:100px;
    margin: 2px;
    padding-left: 5%;
    padding-right: 5%;
}
.part select
{
    width:250px;
}

/*   CSS PANIER   */

.titre-panier
{
    margin-left: 20px;
}

.empty
{
    margin-left:20px;
    background-color: red;
    border: none;
    border-radius:5px;
    height:40px;
}

.panier-paiement
{
    display:flex;
    flex-direction: row;
    overflow:hidden;
    gap: 7%;
    height:auto;
    padding: 20px;
}

.liste-panier
{
    width: 70%;
    height:600px;
    overflow:scroll;
    background-color: var(--bleumarin);
}

.paiement
{
    width:20%;
    height: 350px;
    padding-left:1%;
    padding-right:1%;
    background-color: var(--bleupale);
    border: dashed 3px var(--bleumarin);
}

.paiement h1
{
    text-align: center;
}

.paiement button
{
    margin-left:30%;
    background-color: var(--bleumarin);
    width: 35%;
    height:35px;
    border-radius: 5px;
    border:none;
}

.paiement button a
{
    text-decoration: none;
    color: white;
}

.paiement hr
{
    border-color: var(--grisfonce);
}

.paiement-cout
{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.paiement-cout div
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.liste-panier .affichage
{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:4%;
    width:98%;
    height:140px;
    margin: 5px auto 5px auto;
    padding:8px;
    border-radius: 10px;
    background-color:var(--bleupale);
    opacity:80%;
}

.liste-panier .affichage img
{
    width:125px;
    height: 125px;
}

.liste-panier .affichage button
{
    height: 30px;
}

/*   CSS RESPONSIVE   */
    

    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

@media only screen and (max-width: 1350px)
{
    .logo-titre h1{
        display:none;
    }

    .panier-paiement
    {
        gap:0;
    }

    .paiement
    {
        width:30%;
    }
}

@media only screen and (max-width: 850px) {

    

    .col-1m {width: 8.33%;}
    .col-2m {width: 16.66%;}
    .col-3m {width: 25%;}
    .col-4m {width: 33.33%;}
    .col-5m {width: 41.66%;}
    .col-6m {width: 50%;}
    .col-7m {width: 58.33%;}
    .col-8m {width: 66.66%;}
    .col-9m {width: 75%;}
    .col-10m {width: 83.33%;}
    .col-11m {width: 91.66%;}
    .col-12m {width: 100%;}

    .inventaire > a, .inventaire > div{
        width: 80%;
        margin: 5%;
    }
    header
    {
        height: 120px;
    }

    .logo-titre
    {
        padding-top:10px;
    }
    
    .upper-nav
    {
        display:none;
    }

    .nav-menu
    {
        grid-template-columns: 50% 50%;
        grid-template-areas: "logo menu";
    }
    .page-menu{
        display:none;
    }

    #menubutton
    {
        display:block;
        grid-area:menu;
        padding-top:25px;
        padding-left:50%;
        width:75px;
        height:75px;
    }
    .index .slideI{
        width: 80%;
    }
    .index img{
        width: 80%;
    }

    .panier-paiement
    {
        flex-direction:column;
        align-items: center;
    }

    .panier
    {
        width: 80%;
        background-color: var(--bleumarin);
    }

    .paiement
    {
        width:60%;
    }
}
